// JavaScript enabled
.js-enabled {
  @include govuk-media-query($from: tablet) {
    .govuk-tabs__panel {
      @include nhsuk-responsive-margin(0, "bottom");
      background-color: $color_nhsuk-white;
      border: 1px solid $nhsuk-border-color;
      border-top: 0;
      padding: nhsuk-spacing(6) nhsuk-spacing(4);

      & > :last-child {
        margin-bottom: 0;
      }
    }
  }
}
