{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Checkboxes with disabled item' %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="maincontent">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form>
            {{ checkboxes({
              "name": "colours",
              "items": [
                {
                  "value": "red",
                  "text": "Red"
                },
                {
                  "value": "green",
                  "text": "Green"
                },
                {
                  "value": "blue",
                  "text": "Blue",
                  "disabled": true
                }
              ]
            }) }}
          </form>
        </div>
      </div>

    </main>
  </div>

{% endblock %}
