{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Checkboxes' %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="maincontent">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form>
            {{ checkboxes({
              "idPrefix": "nationality",
              "name": "nationality",
              "fieldset": {
                "legend": {
                  "text": "What is your nationality?",
                  "classes": "nhsuk-fieldset__legend--m"
                }
              },
              "hint": {
                "text": "If you have more than 1 nationality, select all options that are relevant to you."
              },
              "items": [
                {
                  "value": "british",
                  "text": "British"
                },
                {
                  "value": "irish",
                  "text": "Irish"
                },
                {
                  "value": "other",
                  "text": "citizen of another country"
                }
              ]
            }) }}
          </form>
        </div>
      </div>

    </main>
  </div>

{% endblock %}
