{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Label with bold text' %}
{% from 'components/label/macro.njk' import label %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="maincontent">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ label({
            "classes": "nhsuk-label--s",
            "text": "National Insurance number"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
