/* ==========================================================================
   STYLES / #LISTS
   ========================================================================== */

.nhsuk-list--tick,
.nhsuk-list--cross {
  list-style: none;
  margin-top: 0;
  padding-left: 40px; /* [2] */
  position: relative;

  svg {
    left: -4px; /* [3] */
    margin-top: -5px; /* [3] */
    position: absolute;
  }
}
