{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Warning callout' %}
{% from 'components/warning-callout/macro.njk' import warningCallout %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="maincontent">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ warningCallout({
            "heading": "School, nursery or work",
            "HTML": "<p>Stay away from school, nursery or work until all the spots have crusted over. This is usually 5 days after the spots first appeared.</p>"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
