{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Input with autocomplete attribute' %}
{% from 'components/input/macro.njk' import input %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="maincontent">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ input({
            "label": {
              "text": "Postcode"
            },
            "id": "input-with-autocomplete-attribute",
            "name": "postcode",
            "autocomplete": "postal-code"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
